@model IEnumerable<BulkyWeb.Models.Cart>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>

    <!-- Stylesheets -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
        integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/cart.css" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                @foreach (var item in Model)
                {
                    <div class="card border shadow-none mb-4">
                        <div class="card-body">
                            <div class="d-flex align-items-start border-bottom pb-3">
                                <div class="me-4">
                                    <img src="@item.Product.ImageUrl" alt="Product Image" class="avatar-lg rounded">
                                </div>
                                <div class="flex-grow-1 align-self-center overflow-hidden">
                                    <div>
                                        <h5 class="text-truncate font-size-18">
                                            <a href="#" class="text-dark">@item.Product.Title</a>
                                        </h5>
                                        <p class="text-muted mb-0">
                                            <i class="bx bxs-star text-warning"></i>
                                            <i class="bx bxs-star text-warning"></i>
                                            <i class="bx bxs-star text-warning"></i>
                                        </p>
                                        <p class="mb-0 mt-1">Color: <span class="fw-medium">Blue</span></p>
                                    </div>
                                </div>
                                <div class="flex-shrink-0 ms-2">
                                    <ul class="list-inline mb-0 font-size-16">
                                        <li class="list-inline-item">
                                            <form asp-controller="Product" asp-action="DeleteSelected" method="post">
                                                <input type="hidden" name="cartId" value="@item.CartId" />
                                                <button type="submit" class="text-muted px-1 border-0 bg-transparent">
                                                    <i class="mdi mdi-trash-can-outline"></i>
                                                </button>
                                            </form>
                                        </li>
                                        <li class="list-inline-item">
                                            <button type="button" class="text-muted px-1 border-0 bg-transparent">
                                                <i class="mdi mdi-heart-outline"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mt-3">
                                        <p class="text-muted mb-2">Price</p>
                                        <h5 class="mb-0 mt-2">
                                            <span class="text-muted me-2"><del
                                                    class="font-size-16 fw-normal">@item.Product.ListPrice</del></span>
                                            @item.Product.Price
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="mt-3">
                                        <p class="text-muted mb-2">Quantity</p>
                                        <form asp-action="UpdateCart" method="post">
                                            <input type="hidden" name="cartId" value="@item.CartId" />
                                            <input type="number" id="quantity_@item.CartId" name="quantity"
                                                class="form-control text-center" value="@item.Quantity" min="1" max="10"
                                                style="width: 150px; height: 35px;" onchange="this.form.submit()">
                                        </form>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="mt-3">
                                        <p class="text-muted mb-2">Total</p>
                                        <h5>@(item.Quantity * item.Product.Price)</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <!-- end card -->

                <div class="row my-4">
                    <div class="col-sm-6">
                        <a asp-area="" asp-controller="Product" asp-action="Index" class="btn btn-link text-muted">
                            <i class="mdi mdi-arrow-left me-1"></i> Continue Shopping
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end mt-2 mt-sm-0">
                            <a asp-area="" asp-controller="OrderCheckOut" asp-action="Index" class="btn btn-success">
                                <i class="mdi mdi-cart-outline me-1"></i>Checkout
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="mt-5 mt-lg-0">
                    <div class="card border shadow-none">
                        <div class="card-header bg-transparent border-bottom py-3 px-4">
                            <h5 class="font-size-16 mb-0">Order Summary <span class="float-end">#MN0124</span></h5>
                        </div>
                        <div class="card-body p-4 pt-2">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <tbody>
                                        <tr>
                                            <td>Sub Total:</td>
                                            <td class="text-end">₹ @ViewBag.Subtotal</td>
                                        </tr>
                                        <tr>
                                            <td>Discount (20%):</td>
                                            <td class="text-end">-₹ @ViewBag.Discount</td>
                                        </tr>
                                        <tr>
                                            <td>Sub Total After Discount:</td>
                                            <td class="text-end">₹ @ViewBag.SubtotalAfterDiscount</td>
                                        </tr>
                                        <tr>
                                            <td>Shipping Charge:</td>
                                            <td class="text-end">₹ @ViewBag.ShippingCharges</td>
                                        </tr>
                                        <tr>
                                            <td>Estimated Tax:</td>
                                            <td class="text-end">₹ @ViewBag.Tax</td>
                                        </tr>
                                        <tr class="bg-light">
                                            <th>Total:</th>
                                            <td class="text-end">
                                                <span class="fw-bold">₹ @ViewBag.Total</span>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                            <!-- end table-responsive -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
</body>

</html>

@section Scripts {
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery Validate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <!-- jQuery Unobtrusive Validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/js/bootstrap.min.js"></script>

}

<style>
    body {
        margin-top: 20px;
        background-color: #f1f3f7;
    }

    .avatar-lg {
        height: 5rem;
        width: 5rem;
    }

    .font-size-18 {
        font-size: 18px !important;
    }

    .text-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    a {
        text-decoration: none !important;
    }

    .w-xl {
        min-width: 160px;
    }

    .card {
        margin-bottom: 24px;
        -webkit-box-shadow: 0 2px 3px #e4e8f0;
        box-shadow: 0 2px 3px #e4e8f0;
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;

        background-color: #[_ {
                {
                    {
                    CITATION {
                            {
                                {
                                _1 {
                                    ](https: //github.com/dinson2000/vastra/tree/48c9dac6a06d8943ca9faa8fd94fca4b24498d8b/cart.php)[_{{{CITATION{{{_2{](https://github.com/Veldyn/personnelPortfolio/tree/acaad9d2668a36fb5366618b5d01f5abed8cb739/Old%20Resources%2Fbootstrap%2Fprofile_page.php)[_{{{CITATION{{{_3{](https://github.com/mrnutnin/dissingthailand/tree/e1c8d8bb10f0c72e18e6e800c3fd791d633dcdc0/resources%2Fviews%2Fecommerce-products.blade.php)[_{{{CITATION{{{_4{](https://github.com/nurdbuy/sembot/tree/1efcf718c1b371c9d1b000bd602d9602ca599f92/resources%2Fviews%2Fecommerce-cart.blade.php)[_{{{CITATION{{{_5{](https://github.com/themesbrand/codeigniter/tree/3542165bbe2432800a714c3a6a3436b522842729/minible%2Fh-dark%2Fapp%2FViews%2Fecommerce-cart.php)[_{{{CITATION{{{_6{](https://github.com/brijbhan704/erp1/tree/c68b443f4ad274a6e9caa3da90cdc298bc8a7a7a/resources%2Fviews%2Fexpensesold%2Fedit.blade.php)[_{{{CITATION{{{_7{](https://github.com/popcornsar/popcornsar.github.io_ver3/tree/1d011bce0cef4604209c8cbc8b2cf68623fd93b4/public%2Fbundle.js)